body {
	font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #f7f5f0;
	color: #333333;
	margin-left: 20px;
	margin-top: 10px;
}

.contentcontainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;

}

.cat {
    background-color: #d6c8a5;
    font-size: 10px;
    margin-right: 4px;
    width: 100px;
    text-align: end;
    padding-right: 3px;
}