body {
	font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background-color: #efede1;
	color: #333333;
    margin: 0px;
}

footer {
    padding: 4px;
    margin-top: 100px;
    margin-bottom: 20px
}

hr {
    border: 1px dotted #ddd2b8;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

table {
    background-color: #e8e5d9;
    border-radius: 6px;
    padding: 4px;
}

td:first-child { 
    padding: 0px;
    padding-right: 15px;
    min-width: 180px;
}

td:last-child { 
   min-width: 40px;
   padding: 0px;
}


input[type=checkbox] {
    margin-right: 15px;
    margin-top: 1px;
}

.singleview {
    max-width: 90%;
	margin-left: 20px;
	margin-top: 10px;
}

.listview {
    max-width: 90%;
    display: flex;
    flex-direction: column;
	margin-left: 20px;
	margin-top: 10px;
}

.header {
    margin-left: 0px;
	margin-top: 0px;
    padding: 4px;
    border-radius: 6px;
}

.row {
    display: flex;
    font-weight: bold;
    line-height: 35px;
}

.row_cats_cont {
    margin-right: 5px;
}

.row_cats {
    display: flex;
    border: 1px solid #cecece;
    border-radius: 4px;
    font-size: 10px;
    margin-right: 4px;
    margin-top: 8px;
    justify-content: flex-end;
    width: 36px;
    overflow: hidden;
    height: 16px;
    text-align: end;
}

.row_cat {
    width: 8px;
    height: 12px;
    margin-right: 3px;
    margin-top: 2px;
}

.filter_menu {
    margin-left: 7px;
    margin-right: 7px
}

.cat_menu {
    border: 2px solid #f1ece0;
    outline: 1px solid #333;
    outline-offset: -1px;
    border-radius: 3px;
    font-size: 10px;
    color: #333;
    font-weight: bolder;
    text-align: center;
    padding: 2px;
    max-width: 105px;
    min-width: 72px;
    flex: 1 1 72px;
    display: flex;
    margin-bottom: 5px;
}

.cat_menu_color_btn {
    width:12%;
    height:100%;
}

.recipe_link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe_link:hover {
    cursor: pointer;
}

.cat_menu:hover {
    cursor: pointer;
}

.cat_active {
    border: 2px solid #464444;
    outline: 1px solid #464444;
    outline-offset: -3px;
}

.recipe_head {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.recipe_title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 7px;
    margin-left: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.meat_cat { background-color: #d95151; }
.fish_cat { background-color: #468cbb; }
.chicken_cat { background-color: #e8a71b; }
.veg_cat { background-color: #71ac76; }
.potato_cat { background-color: #995f1c; }
.pasta_cat { background-color: #dbb564; }
.rice_cat { background-color: #ccc; }
.wheat_cat { background-color: #666; }
.pie_cat { background-color: #aaac3e; }
.pizza_cat { background-color: #893eac; }
.noodles_cat { background-color: #eabf60; }
.burger_cat { background-color: #373636; }