body {
	font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background-color: #f7f5f0;
	color: #333333;
}

hr {
    border: 1px solid rgb(224, 224, 217);
}

.contentcontainer {
    display: flex;
    flex-direction: column;
	margin-left: 20px;
	margin-top: 20px;
}

.header {
    background-color: #f1ece0;
    margin-left: 0px;
	margin-top: 0px;
    padding: 4px;
}

.filter_menu {
    width: 330px;
}

.row {
    display: flex;
    font-weight: bold;
    line-height: 32px;
}

.row_cats_cont {
    height:100%;
}

.row_cats {
    display: flex;
    border: 1px solid #e2e1dd;
    border-radius: 4px;
    font-size: 10px;
    margin-right: 4px;
    margin-top: 14%;
    justify-content: flex-end;
    width: 44px;
    overflow: hidden;
    height: 16px;
    text-align: end;
}

.row_cat {
    width: 10px;
    height: 12px;
    margin-right: 3px;
    margin-top: 2px;
}

.cat_menu {
    border: 2px solid #f1ece0;
    outline: 1px solid #333;
    outline-offset: -1px;
    font-size: 10px;
    color: #333;
    font-weight: bolder;
    min-width: 72px;
    max-width: 100px;
    min-height: 20px;
    text-align: center;
    margin: 4px;
    padding: 2px;
    display: flex;
}

.recipe_link:hover {
    cursor: pointer;
}

.cat_menu:hover {
    cursor: pointer;
}

.cat_active {
    border: 2px solid #333;
    outline: 1px solid #333;
    outline-offset: -3px;
}

.meat_cat { background-color: #ff0000; }
.fish_cat { background-color: #468cbb; }
.chicken_cat { background-color: #ffae00; }
.veg_cat { background-color: #3eac47; }
.potato_cat { background-color: #995f1c; }
.pasta_cat { background-color: #dbb564; }
.rice_cat { background-color: #ccc; }
.wheat_cat { background-color: #666; }
.pie_cat { background-color: #aaac3e; }
.pizza_cat { background-color: #893eac; }
.noodles_cat { background-color: #ffe2a2; }